@model List<ResultProductColorDto>


<div class="block_goodColor">
    <span class="text_specification">Mevcut Renkler</span>
    <div class="block_goodColor__allColors">

        @foreach (var item in Model)
        {
            <input type="radio" name="colorOfItem" class="radio_button"
                   id="radioColor_@item.ProductColorID" checked />
            <label for="radioColor_@item.ProductColorID"
                   class="block_goodColor__radio" style="background-color: #@item.color.ColorCode;"></label>
        }

      
    </div>
</div>