@model List<ResultProductCategoryDto>




<div class="product-cat">
    <span>Kategoriler:</span>
    @foreach (var item in Model.DistinctBy(x=>x.category.Name))
    {
        <a href="/productcategory/CategoryList?subcategory=@item.ParentSubCategoryID">@item.category.Name.ToLower() </a>

    }
</div>

<!-- End .product-cat -->
