@model List<ResultCategoryDto>

<li class="active"><a href="#" data-filter="*">Hepsi</a></li>
    @foreach (var item in Model)
    {
    <li><a href="#" data-filter=".@item.Name.ToLower().Trim().Replace(" ", "")">@item.Name.ToLower().Trim()</a></li>
    }
