@model List<ResultDimensionsDto>

<select name="dimension" id="size" class="form-control">
    <option value="" selected="selected"> Ebat Seçiniz</option>
    @foreach (var item in Model)
    {
        <option  data-dimension-id="@item.DimensionsID" value="@item.DimensionsID"> @item.En X @item.Boy</option>

    }
</select>