
<head>

    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>B2B | </title>

    @*   <link rel="icon" type="image/x-icon" href="~/animeX/img/logo.png">*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="~/contactpage/fonts/icomoon/style.css" rel="stylesheet" />
    <!-- Bootstrap 5 CSS -->
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/B2B/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/B2B/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/B2B/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/B2B/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="~/B2B/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/B2B/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/B2B/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/B2B/css/style.css" type="text/css">
    <link href="~/B2B/css/main.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

    <link href="~/b2b/css/colorbox.css" rel="stylesheet" />

   

</head>
