@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/LayoutIndex.cshtml";
}

<div class="content mt-5">

    <div class="container mt*5">
        <div class="row mt-5">
         @await Component.InvokeAsync("_Contact")
         @await Component.InvokeAsync("_ContactForm")   

         
        </div>
    </div>
</div>
