@model List<ResultProductColorDto>


@foreach (var item in Model)
{
    <a class="color"  data-color-id="@item.ColorID" style="background: #@item.color.ColorCode;"><span class="sr-only">Color name</span></a>

  
}