@model List<ResultProductCategoryDto>

@{
    var categoryName = Model.DistinctBy(x => x.category.Name);

    //var userID1 = User.Identity.Name;
}



<header class="header header-7">
    @if (!User.Identity.IsAuthenticated )
    {
        <div class="header-top">
            <div class="container">


                <div class="header-right">

                    <ul class="top-menu">
                        <li>
                            <a href="#">Links</a>
                            <ul>

                                <li><a href="/account/signin">Giriş Yap / Üye Ol</a></li>
                            </ul>
                        </li>
                    </ul><!-- End .top-menu -->
                </div><!-- End .header-right -->

            </div><!-- End .container -->
        </div>
        <!-- End .header-top -->
    }


    @* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@

    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="/" class="logo">
                    <img src="~/molla/assets/images/demos/demo-11/logo.png" alt="Molla Logo" width="82" height="25">
                </a>
            </div><!-- End .header-left -->

            <div class="header-right">

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="/" class="">Anasayfa</a>
                        </li>
                        <li>
                            <a href="/productcategory/categorylist/" class="sf-with-ul">Kategoriler</a>

                            <div class="megamenu megamenu-md">
                                <div class="row no-gutters">
                                    <div class="col-md-8">
                                        <div class="menu-col">
                                            <div class="row">
                                                @foreach (var cate in categoryName)
                                                {
                                                    <div class="col-md-6">
                                                        <div class="menu-title"><a href="/productcategory/CategoryList?categoryId=@cate.CategoryID">@cate.category.Name</a></div><!-- End .menu-title -->
                                                        <ul>
                                                            @foreach (var item in Model.Where(x => x.category.Name.Contains(cate.category.Name)))
                                                            {
                                                                if (item.parentSubCategory?.Name != null)
                                                                {
                                                                    <li><a class="icon-arrow-right" href="/productcategory/CategoryList?subcategory=@item.CategoryID">@item.parentSubCategory?.Name</a></li>
                                                                }

                                                            }
                                                        </ul>
                                                    </div>
                                                    <!-- End .col-md-6 -->
                                                }




                                            </div><!-- End .row -->
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .col-md-8 -->


                                </div><!-- End .row -->
                            </div><!-- End .megamenu megamenu-md -->
                        </li>




                        <li class="megamenu-container ">
                            <a href="/contact/index" class="">İletişim</a>


                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

                <div class="header-search">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="q" id="q" placeholder="Ürün Ara..." required>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->

                <a href="/Profile/FavoriList" class="wishlist-link">
        
                    <i class="icon-heart-o"></i>
                    @*   <span class="wishlist-count">3</span> *@
                </a>     <a href="/profile" class="wishlist-link">
                    <i class="icon-user"></i>

                </a>
                @await Component.InvokeAsync("_NavbarBasketList", new { userId = User?.FindFirstValue(ClaimTypes.NameIdentifier) })
           
                @if (User.Identity.IsAuthenticated)
                {             
                    <a href="/account/SignOutUser" class="wishlist-link">
                        <i class="fas fa-sign-out-alt" style="font-size: 25px;"></i>

                        @*  loguout *@
                    </a>
                }


               

            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
</header>
<!-- End .header -->
