@model SignInDto
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Layout/LayoutIndex.cshtml";

    var appSettings = Context.RequestServices.GetRequiredService<IOptions<AppSettings>>().Value;
    var apiUrl = appSettings.ApiSignInUrl;
    var apiUrl1 = appSettings.ApiSignUpUrl;
 
}



@if (User.Identity.IsAuthenticated == false)
{
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Giriş Yap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Üye Ol</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="tab-content-5">
                        <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                            <form method="post" id="loginForm">
                                <div class="form-group">
                                    <label for="singin-email">Kullanıcı Adı *</label>
                                    <input type="text" class="form-control userName" id="singin-email" asp-for="UserName" required>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="singin-password">Şifre *</label>
                                    <input type="password" class="form-control password" id="singin-password" asp-for="Password" required>
                                </div><!-- End .form-group -->

                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>Giriş Yap</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="signin-remember">
                                        <label class="custom-control-label" for="signin-remember">Beni Hatırla</label>
                                    </div><!-- End .custom-checkbox -->

                                    <a href="#" class="forgot-link">Şifremi Unuttum</a>
                                </div><!-- End .form-footer -->
                            </form>
                            <div class="form-choice">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="#" class="btn btn-login btn-g">
                                            <i class="icon-google"></i>
                                            Google İle Giriş Yap
                                        </a>
                                    </div><!-- End .col-6 -->

                                </div><!-- End .row -->
                            </div><!-- End .form-choice -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                            <form id="registerFrom" method="post">
                                <div class="form-group">
                                    <label for="register-email">Kullanıcı Adı *</label>
                                    <input type="text" class="form-control userName1" id="register-email" required>
                                </div><!-- End .form-group -->
                                <div class="form-group">
                                    <label for="register-email">Ad Soyad *</label>
                                    <input type="text" class="form-control nameSurname" id="register-email" required>
                                </div><!-- End .form-group -->
                                <div class="form-group">
                                    <label for="register-email">Email Adresi *</label>
                                    <input type="email" class="form-control email1" id="register-email" required>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="register-password">Şifre *</label>
                                    <input type="password" class="form-control password1" id="register-password" required>
                                </div><!-- End .form-group -->
                                <div class="form-group">
                                    <label for="register-password">Şifre Tekrar *</label>
                                    <input type="password" class="form-control passwordR" id="register-password" required>
                                </div><!-- End .form-group -->

                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>Üye Ol</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                        <label class="custom-control-label" for="register-policy">Kabul ediyorum <a href="#">gizlilik politikası</a> *</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .form-footer -->
                            </form>
                            <div class="form-choice">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="#" class="btn btn-login btn-g">
                                            <i class="icon-google"></i>
                                            Google İle Üye Ol
                                        </a>
                                    </div><!-- End .col-6 -->

                                </div><!-- End .row -->
                            </div><!-- End .form-choice -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div>

    <!-- End .login-page section-bg -->
}
else
{
    <script>

        window.location.href = "/";
    </script>
} 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
@*     $(document).ready(function () {
        $('#loginForm').submit(function (event) {
            event.preventDefault();
            var rememberMe = $('#signin-remember').prop('checked');
            var formData = {
                UserName: $('.userName').val(),
                rememberMe: rememberMe,
                Password: $('.password').val()
            };

            $.ajax({
                url: '@Html.Raw(apiUrl)',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {

                    var token = response; // Token'i response'dan alın
                    // Token'i çözmek için jwt.verify kullanın
                    jwt.verify(token, 'anahtar', function (err, decoded) {
                        if (err) {
                            console.error('Token çözme hatası:', err);
                        } else {
                            console.log('Çözülen token:', decoded);
                            // Token çözüldükten sonra burada istediğiniz işlemleri yapabilirsiniz
                        }
                                  
                    Swal.fire({
                        icon: 'success',
                        title: 'Giriş Başarılı Yöneledndiriliyorsunuz..!',
                        position: "top-end",
                        timer: 1000,
                        showConfirmButton: false
                    });
                   
                },
                error: function (xhr, status, error) {
                    if (xhr.status == 400) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Kullanıcı adı veya şifre yanlış!',
                            position: "top-end",
                            timer: 1000,
                            showConfirmButton: false
                        });
                    }
                }
            });
        });
    }); *@
    $(document).ready(function () {
        $('#registerFrom').submit(function (event) {
            event.preventDefault();

            var formData1= {
                UserName: $('.userName1').val(),
                Email: $('.email1').val(),
                PasswordR: $('.passwordR').val(),
                NameSurname: $('.nameSurname').val(),
                Password: $('.password1').val()
            };
          
            $.ajax({
                url: '@Html.Raw(apiUrl1)',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData1),
                success: function (response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Kayıt Başarılı..!',
                        position: "top-end",
                        timer: 1000,
                        showConfirmButton: false
                    });
                },
                error: function (xhr, status, error) {
                    if (xhr.status == 400) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Email veya kullanıcı adı daha önce alınmış!',
                            position: "top-end",
                            timer: 1000,
                            showConfirmButton: false
                        });
                    }
                }
            });
        });
    });

</script>


