@model SignUpDto
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Layout/LayoutIndex.cshtml";
    var appSettings = Context.RequestServices.GetRequiredService<IOptions<AppSettings>>().Value;
    var apiUrl = appSettings.ApiSignUpUrl;
}

@if (User.Identity.IsAuthenticated == false)
{
    <section class="signup spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3 title="Ücretsiz Üye Olun">Üye Ol</h3>
                        <form id="register" method="post">
                            <div class="input__item">
                                <input type="text" placeholder="Email" asp-for="Email">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Kullanıcı Adı" asp-for="UserName">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="Şifre" asp-for="Password">
                                <span class="icon_lock"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="Şifre Tekrar" asp-for="PasswordR">
                                <span class="icon_lock"></span>
                            </div>
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <label class="col-md-12 text-white">
                                    <ul>
                                        <li>
                                            @Html.ValidationSummary()
                                        </li>
                                    </ul>

                                </label>
                            }

                            <button type="submit" class="site-btn">Kayıt Ol</button>
                        </form>
                        <h5>Hesabın Var Mı? <a href="/Account/SignIn">Giriş Yap!</a></h5>
                    </div>
                 
                </div>
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <h3>Birlikte Giriş Yap:</h3>
                        <ul>
                            @*    <li>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i>  Facebook ile giriş yap</a>
                        </li>*@
                            <li>
                                <a class="google" asp-controller="Account" asp-action="GoogleLogin" class="btn btn-primary">
                                    <i class="fa fa-google"></i>  Google ile Giriş Yap
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

else
{

    <script>

        window.location.href = "/";
    </script>

}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(docum ent).ready(function () {
        $('#register').submit(function (e) {
            e.preventDefault(); // Formun default submit davranışını engelle

            // Form verilerini al
            var formData = {
                Email: $('input[name=Email]').val(),
                UserName: $('input[name=UserName]').val(),
                Password: $('input[name=Password]').val(),
                PasswordR: $('input[name=PasswordR]').val()
            };

            // API'ye istek gönder
            $.ajax({
                type: 'POST',
                url: '@Html.Raw(apiUrl)',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    // Başarılı işlem durumunda yapılacaklar
                    console.log(response);
                    // Örneğin başka bir sayfaya yönlendirme yapılabilir
                    // window.location.href = "/success-page";
                },
                error: function (xhr, status, error) {
                    // Hata durumunda yapılacaklar
                    console.error(error);
                }
            });
        });
    });
</script>
