@model List<ResultColorDto>

<div class="widget widget-collapsible">
    <h3 class="widget-title">
        <a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true" aria-controls="widget-3">
            Renk
        </a>
    </h3><!-- End .widget-title -->

    <div class="collapse show" id="widget-3">
        <div class="widget-body">
            <div class="filter-colors">
                @foreach (var item in Model)
                {
                    <a href="#" style="background: #@item.ColorCode;"><span class="sr-only">Color Name</span></a>
                }
           
             
            </div><!-- End .filter-colors -->
        </div><!-- End .widget-body -->
    </div><!-- End .collapse -->
</div><!-- End .widget -->