@model List<ResultDimensionsDto>

<div class="widget widget-collapsible">
    <h3 class="widget-title">
        <a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true" aria-controls="widget-2">
            Ebat
        </a>
    </h3><!-- End .widget-title -->

    <div class="collapse show" id="widget-2">
        <div class="widget-body">
            <div class="filter-items">
                @foreach (var item in Model)
                {
                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input size-checkbox" id="@item.DimensionsID">
                            <label class="custom-control-label" for="@item.DimensionsID">@(item.Boy + "X" + item.En)</label>
                        </div><!-- End .custom-checkbox -->
                    </div>

                    <!-- End .filter-item -->
                }

            </div><!-- End .filter-items -->
        </div><!-- End .widget-body -->
    </div><!-- End .collapse -->
</div><!-- End .widget -->