@model List<ResultHomeSliderDto>





<div class="intro-slider-container mb-4">
    <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{
                        "nav": false,
                        "dots": true,
                        "responsive": {
                            "992": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
        @foreach (var item in Model)
        {
            <div class="intro-slide" style="background-image: url(@item.SliderImg);">
                <div class="container intro-content">
                    <h3 class="intro-subtitle text-primary">@item.SliderTitle</h3><!-- End .h3 intro-subtitle -->
                  @*   <h1 class="intro-title">@item.SliderDescription</h1><!-- End .intro-title --> *@

                    <a href="category.html" class="btn btn-outline-primary-2">
                        <span>Hemen İncele</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .intro-content -->
            </div>

            <!-- End .intro-slide -->
        }


    </div><!-- End .intro-slider owl-carousel owl-simple -->

    <span class="slider-loader"></span><!-- End .slider-loader -->

</div><!-- End .intro-slider-container -->
